In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
data = pd.read_csv('EDA_Shark_Tank_India.csv')

In [3]:
data

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.00,40.0,30.00,...,1,1,1,0,1,0,0,4,10.0,7.500000
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [4]:
data.describe()

,episode_number,pitch_number,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,...,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,18.735043,59.000000,0.555556,319.854709,5.188034,3852.462479,31.982915,8.963504,467.104872,0.837607,...,0.179487,0.205128,0.239316,0.188034,0.128205,0.230769,0.059829,1.230769,18.132481,5.583590
std,10.070778,33.919021,0.499041,2767.842777,3.892121,11931.601957,36.687391,13.106769,919.988864,0.370397,...,0.385410,0.405532,0.428501,0.392420,0.335756,0.423137,0.238190,1.410457,23.588682,10.803799
min,1.000000,1.000000,0.000000,0.001010,0.250000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,30.000000,0.000000,45.000000,2.500000,666.670000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19.000000,59.000000,1.000000,50.000000,5.000000,1250.000000,25.000000,3.000000,100.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000,1.250000
75%,27.000000,88.000000,1.000000,80.000000,7.500000,2857.140000,50.000000,15.000000,500.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,25.000000,6.000000
max,35.000000,117.000000,1.000000,30000.000000,25.000000,120000.000000,150.000000,75.000000,6666.670000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,100.000000,75.000000

# QUSETION 1
# Find the number of episodes?

In [5]:
import pandas as pd

# Assuming you have already read the CSV file into a DataFrame
data = pd.read_csv('EDA_Shark_Tank_India.csv')

# Get the number of episodes
num_episodes = data.shape[0]

print(f"The number of episodes is: {num_episodes}")

The number of episodes is: 117

# QUESTION 2
# Max, min , mean of asked amount,asked equity, asked valuation?

In [6]:
import pandas as pd

# Assuming you have already read the CSV file into a DataFrame
data = pd.read_csv('EDA_Shark_Tank_India.csv')

# Find the maximum, minimum, and mean values for 'Asked Amount'
max_asked_amount = data['pitcher_ask_amount'].max()
min_asked_amount = data['pitcher_ask_amount'].min()
mean_asked_amount = data['pitcher_ask_amount'].mean()

# Find the maximum, minimum, and mean values for 'Asked Equity'
max_asked_equity = data['ask_equity'].max()
min_asked_equity = data['ask_equity'].min()
mean_asked_equity = data['ask_equity'].mean()

# Find the maximum, minimum, and mean values for 'Asked Valuation'
max_asked_valuation = data['ask_valuation'].max()
min_asked_valuation = data['ask_valuation'].min()
mean_asked_valuation = data['ask_valuation'].mean()

# Display the results
print("For Asked Amount:")
print(f"Max: {max_asked_amount}, Min: {min_asked_amount}, Mean: {mean_asked_amount}")

print("\nFor Asked Equity:")
print(f"Max: {max_asked_equity}, Min: {min_asked_equity}, Mean: {mean_asked_equity}")

print("\nFor Asked Valuation:")
print(f"Max: {max_asked_valuation}, Min: {min_asked_valuation}, Mean: {mean_asked_valuation}")

For Asked Amount:
Max: 30000.0, Min: 0.00101, Mean: 319.8547094871795

For Asked Equity:
Max: 25.0, Min: 0.25, Mean: 5.188034188034188

For Asked Valuation:
Max: 120000.0, Min: 0.01, Mean: 3852.4624786324785

# QUESTION 3
# Max & Min asked- equity,asked-valuation and asked amount episode-wise?

In [10]:
import pandas as pd

# Assuming you have already read the CSV file into a DataFrame
data = pd.read_csv('EDA_Shark_Tank_India.csv')

# Grouping data by 'Episode' and finding max and min values for each episode
max_values_episode_wise = data.groupby('episode_number').agg({'ask_equity': 'max', 'ask_valuation': 'max', 'pitcher_ask_amount': 'max'})
min_values_episode_wise = data.groupby('episode_number').agg({'ask_equity': 'min', 'ask_valuation': 'min', 'pitcher_ask_amount': 'min'})

# Displaying the results
print("Maximum Values Episode-wise:")
print(max_values_episode_wise)

print("\nMinimum Values Episode-wise:")
print(min_values_episode_wise)

Maximum Values Episode-wise:
                ask_equity  ask_valuation  pitcher_ask_amount
episode_number
1                     15.0        1000.00                50.0
2                      5.0        7000.00                70.0
3                      4.0       40000.00               100.0
4                     10.0        1875.00                75.0
5                     20.0       10000.00               100.0
6                     10.0       10000.00               100.0
7                      7.5        7500.00               100.0
8                      7.5        2000.00                56.0
9                      5.0        2000.00               100.0
10                     5.0        1500.00                30.0
11                    25.0      120000.00             30000.0
12                     5.0        1875.00                75.0
13                    10.0        2500.00                50.0
14                     5.0        3333.33               100.0
15                     5.0        1250.00                50.0
16                     7.0        2250.00                80.0
17                    10.0        5000.00               150.0
18                     4.0       10000.00               100.0
19                     8.0       10000.00               125.0
20                     5.0        3250.00                65.0
21                    10.0        1250.00               100.0
22                     5.0        3000.00                80.0
23                     5.0       10000.00               100.0
24                    10.0         500.00                40.0
25                     4.0        7500.00               150.0
26                    10.0        6500.00                65.0
27                    10.0       10000.00               100.0
28                     5.0        1875.00                90.0
29                     5.0        2857.14               100.0
30                    15.0       30000.00               300.0
31                    10.0        3750.00                75.0
32                     7.0        5000.00               200.0
33                    10.0        3500.00                40.0
34                    10.0       10000.00               100.0
35                     8.0        4000.00               100.0

Minimum Values Episode-wise:
                ask_equity  ask_valuation  pitcher_ask_amount
episode_number
1                     5.00         250.00            25.00000
2                     1.00        1000.00            50.00000
3                     0.25        1875.00            50.00000
4                     4.00         500.00            50.00000
5                     1.00          50.00            10.00000
6                     1.00         500.00            45.00000
7                     1.00         666.67            50.00000
8                     2.50         746.67            30.00000
9                     2.50        1000.00            50.00000
10                    2.00         500.00            25.00000
11                    5.00         300.00            30.00000
12                    3.00         800.00            40.00000
13                    2.00         500.00            30.00000
14                    3.00         900.00            45.00000
15                    3.00         100.00             5.00000
16                    2.00        1071.43            45.00000
17                    3.00         500.00            50.00000
18                    1.00        1250.00            50.00000
19                    1.25         300.00            15.00000
20                    2.00         700.00            35.00000
21                    5.00         470.00            35.00000
22                    2.00        1500.00            50.00000
23                    1.00         600.00            30.00000
24                    8.00         200.00            20.00000
25                    2.00        1250.00            50.00000
26                    1.00         500.00            50.00000
27                    1.00           0.01             0.00101
28                    4.00        1000.00            50.00000
29                    3.00        1500.00            75.00000
30                    1.00         500.00            50.00000
31                    2.00         500.00            50.00000
32                    1.00         583.33            35.00000
33                    1.00         400.00            35.00000
34                    1.00         400.00            30.00000
35                    2.50         500.00            40.00000

# QUESTION 4
# Brand names in which 2 ,3 or 4 sharks are invested?

In [9]:
filtered_brands = data[data['total_sharks_invested'].isin([2, 3, 4])]['brand_name']

print(filtered_brands)

0                 BluePine Industries
1                       Booz scooters
2                 Heart up my Sleeves
9                               Cosiq
11                             Bummer
12                        Revamp Moto
18                 Raising Superstars
21                       Beyond Snack
22     Vivalyf Innovations- Easy Life
24                              Altor
25                              Ariro
27                            Nuutjob
28                           Meatyour
29                          EventBeep
32                              Farda
35                               LOKA
36                              Annie
37                          Caragreen
38                    The Yarn Bazaar
39                  The Renal Project
44                            Cocofit
45                       Bamboo India
47                       Beyond Water
48                          Let's Try
50                      Aas Vidyalaya
58                            WeSTOCK
64                         Get a Whey
66                    The Quirky Nari
67                     Hair Originals
75                       The Sass Bar
85                 Watt Technovations
88                           Humpy A2
90           Gold Safe Solutions Ind.
91                        Wakao Foods
95                       Kabaddi Adda
108                        Tweek Labs
109                            Proxgy
110                Nomad Food Project
114                     Jain Shikanji
Name: brand_name, dtype: object

# QUESTION 5
# Episode wise minimum and maximum of sharks invested?

In [10]:
import pandas as pd

# Assuming you have already read the CSV file into a DataFrame
data = pd.read_csv('EDA_Shark_Tank_India.csv')

# Grouping data by 'Episode' and finding min and max values for sharks invested
min_sharks_per_episode = data.groupby('episode_number')['total_sharks_invested'].min()
max_sharks_per_episode = data.groupby('episode_number')['total_sharks_invested'].max()

# Displaying the results
print("Episode-wise Minimum Sharks Invested:")
print(min_sharks_per_episode)

print("\nEpisode-wise Maximum Sharks Invested:")
print(max_sharks_per_episode)

Episode-wise Minimum Sharks Invested:
episode_number
1     2
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    3
11    0
12    0
13    2
14    0
15    1
16    0
17    0
18    0
19    0
20    0
21    1
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
Name: total_sharks_invested, dtype: int64

Episode-wise Maximum Sharks Invested:
episode_number
1     3
2     1
3     1
4     2
5     2
6     5
7     2
8     2
9     2
10    3
11    2
12    3
13    4
14    2
15    3
16    2
17    5
18    1
19    4
20    5
21    3
22    3
23    1
24    2
25    5
26    1
27    4
28    3
29    3
30    2
31    1
32    1
33    3
34    4
35    4
Name: total_sharks_invested, dtype: int64

# QUESTION 6
# Minimum and Maximum sharks invested in each episode?

In [11]:
import pandas as pd

# Assuming you have already read the CSV file into a DataFrame
data = pd.read_csv('EDA_Shark_Tank_India.csv')

# Grouping data by 'Episode' and finding min and max values for sharks invested
episode_sharks_stats = data.groupby('episode_number')['total_sharks_invested'].agg(['min', 'max'])

# Displaying the results
print("Minimum and Maximum Sharks Invested in Each Episode:")
print(episode_sharks_stats)

Minimum and Maximum Sharks Invested in Each Episode:
                min  max
episode_number
1                 2    3
2                 0    1
3                 0    1
4                 0    2
5                 0    2
6                 0    5
7                 0    2
8                 1    2
9                 0    2
10                3    3
11                0    2
12                0    3
13                2    4
14                0    2
15                1    3
16                0    2
17                0    5
18                0    1
19                0    4
20                0    5
21                1    3
22                0    3
23                0    1
24                0    2
25                0    5
26                0    1
27                0    4
28                0    3
29                0    3
30                0    2
31                0    1
32                0    1
33                0    3
34                0    4
35                0    4

# QUESTION 7
# Brand names who ask for 1 crore and got a deal?

In [12]:
import pandas as pd

# Assuming you have already read the CSV file into a DataFrame
data = pd.read_csv('EDA_Shark_Tank_India.csv')

# Filter brands that asked for 1 crore and got a deal
selected_brands = data[(data['pitcher_ask_amount'] == 10000000) & (data['deal'] == True)]

# Displaying the brand names
print("Brand names that asked for 1 crore and got a deal:")
print(selected_brands['brand_name'].tolist())

Brand names that asked for 1 crore and got a deal:
[]

# QUESTION 8
# Brand names where deal equity is between 0 to 50?

In [13]:
import pandas as pd

# Assuming you have already read the CSV file into a DataFrame
data = pd.read_csv('EDA_Shark_Tank_India.csv')

# Filter brands where deal equity is between 0 and 50
selected_brands = data[(data['deal_equity'] >= 0) & (data['deal_equity'] <= 50)]

# Displaying the brand names
print("Brand names where deal equity is between 0 and 50:")
print(selected_brands['brand_name'].tolist())

Brand names where deal equity is between 0 and 50:
['BluePine Industries', 'Booz scooters', 'Heart up my Sleeves', 'Tagz Foods', 'Head and Heart', 'Agro tourism', 'Qzense Labs', 'Peeschute', 'NOCD', 'Cosiq', 'JhaJi Achaar', 'Bummer', 'Revamp Moto', 'Hungry Heads', 'Shrawani Engineers', 'Skippi Pops', 'Menstrupedia', 'Hecolll', 'Raising Superstars', 'Torch-it', 'La Kheer Deli', 'Beyond Snack', 'Vivalyf Innovations- Easy Life', 'Motion Breeze', 'Altor', 'Ariro', 'Kabira Handmade', 'Nuutjob', 'Meatyour', 'EventBeep', "Gopal's 56", 'ARRCOAT Surface Textures', 'Farda', 'Auli Lifestyle', 'SweeDesi', 'LOKA', 'Annie', 'Caragreen', 'The Yarn Bazaar', 'The Renal Project', 'Morikko Pure Foods', 'Good Good Piggy Bank', 'Hammer Lifestyle', 'PNT', 'Cocofit', 'Bamboo India', 'Flying Furr', 'Beyond Water', "Let's Try", 'Find Your Kicks India', 'Aas Vidyalaya', 'Outbox', 'RoadBounce', "Mommy's Kitchen", 'India Hemp and Co', 'Otua', 'Anthyesti', 'Ethik', 'WeSTOCK', 'KetoIndia', 'Magic lock', 'The State Plate', 'Bakarmax', 'IN A CAN', 'Get a Whey', 'The Quirky Nari', 'Hair Originals', 'Poo de Cologne', 'Moonshine Meads', 'Falhari', 'Namhya Foods', 'Urban Monkey', 'Guardian Gears', 'Modern Myth', 'The Sass Bar', 'KG Agrotech', 'Nuskha Kitchen', 'PawsIndia', 'Sunfox Technologies', 'Alpino', 'Isak Fragrances', 'Julaa Automation', 'Rare Planet', 'Theka Coffee', 'Watt Technovations', 'Aliste Technologies', 'Insurance Samadhan', 'Humpy A2', 'Kunafa World', 'Gold Safe Solutions Ind.', 'Wakao Foods', 'PDD Falcon', 'PlayBox TV', 'Sippline Drinking Shields', 'Kabaddi Adda', 'Shades of Spring', 'Scholify', 'Scrapshala', 'Sabjikothi', 'AyuRythm', 'Astrix', 'Thea and Sid', 'Experential Etc', 'GrowFitter', 'Med Tech', 'Colour Me Mad', "Mavi's", 'Tweek Labs', 'Proxgy', 'Nomad Food Project', 'Twee in One', 'Green Protein', 'On2Cook', 'Jain Shikanji', 'Woloo', 'Elcare India']

# QUESTION 9
# Find the number of brands participated in each episode?

In [14]:
import pandas as pd

# Assuming you have already read the CSV file into a DataFrame
data = pd.read_csv('EDA_Shark_Tank_India.csv')

# Counting the number of brands participated in each episode
brands_per_episode = data.groupby('episode_number')['brand_name'].nunique()

# Displaying the results
print("Number of brands participated in each episode:")
print(brands_per_episode)

Number of brands participated in each episode:
episode_number
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    4
17    4
18    4
19    4
20    3
21    3
22    4
23    4
24    3
25    3
26    3
27    4
28    3
29    3
30    4
31    4
32    4
33    4
34    4
35    3
Name: brand_name, dtype: int64

# QUESTION 10
How many sharks participated in this show and What were their names?

# QUESTION 11
# Find appearance of each sharks?

In [23]:
ashneer_appearances = data['ashneer_present'].sum()
print("Number of Appearances for ashneer:")
print(ashneer_appearances)


anupam_appearances = data['anupam_present'].sum()
print("Number of Appearances for ashneer:")
print(anupam_appearances)


aman_appearances = data['aman_present'].sum()
print("Number of Appearances for ashneer:")
print(aman_appearances)

namita_appearances = data['namita_present'].sum()
print("Number of Appearances for ashneer:")
print(namita_appearances)


vineeta_appearances = data['vineeta_present'].sum()
print("Number of Appearances for ashneer:")
print(vineeta_appearances )



peyush_appearances = data['peyush_present'].sum()
print("Number of Appearances for ashneer:")
print(peyush_appearances )


ghazal_appearances = data['ghazal_present'].sum()
print("Number of Appearances for ashneer:")
print(ghazal_appearances )

Number of Appearances for ashneer:
98
Number of Appearances for ashneer:
117
Number of Appearances for ashneer:
98
Number of Appearances for ashneer:
106
Number of Appearances for ashneer:
66
Number of Appearances for ashneer:
88
Number of Appearances for ashneer:
26

Q12. How many entrepreneurs were present?

In [31]:
entrepreneurs_columns = ['ashneer_present', 'anupam_present', 'aman_present', 'namita_present', 'vineeta_present', 'peyush_present', 'ghazal_present']

# Sum the values across the specified columns
entrepreneurs_appearances = data[entrepreneurs_columns].sum()
total = entrepreneurs_appearances.sum()
print("Number of entrepreneurs Appearances in total:")
print(entrepreneurs_appearances)
print("total",total)

Number of entrepreneurs Appearances in total:
ashneer_present     98
anupam_present     117
aman_present        98
namita_present     106
vineeta_present     66
peyush_present      88
ghazal_present      26
dtype: int64
total 599

Q13. How many times each shark invested the deal?

In [29]:
number_of_times_sharks_invested = data['total_sharks_invested'].sum()
print("number of times sharks invested ",number_of_times_sharks_invested)

number of times sharks invested  144

Q14. Find the equity percent that each sharks gets?

Q15. Find the total number of amount invested in this show?